body {
    font-family: "Times New Roman", Times, serif; 
    background: rgba(12, 12, 12, 0.6); 
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background: rgba(245, 49, 49, 0.9);
    color: #afafaf;
}
footer {
    background: rgba(245, 49, 49, 0.9);
}
header a {
    color: #0c0c0c;
    text-decoration: none;
}
header a:hover {
    color: #070707;
}
header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0; margin: 0;
}
header ul.nav li {
    margin: 0 0.5rem;
    padding: 0.5rem;
}
h1, h2 { 
    border-bottom: 2px solid #f12323; 
    box-shadow: 0 3px 5px #00000033;
    padding: 1rem;
    background-color: #7a7a7a;
}
p {
    padding: 0 1rem;
}