body {
    font-family: sans-serif; 
    background-color: #CCCCCC; 
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
header, footer {
    padding: 1rem 0;
    margin: 0;
}
header {
    background-color: #333333;
    color: #afafaf;
}
footer {
    background-color: #afafaf;
}
header a {
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover {
    color: #ffffff;
}
header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0; margin: 0;
}
header ul.nav li {
    margin: 0 0.5rem;
    padding: 0.5rem;
}
h1, h2 { 
    border-bottom: 2px solid #FFCC00; 
    box-shadow: 0 3px 5px #00000033;
    padding: 1rem;
    background-color: #d8d8d8;
}
p {
    padding: 0 1rem;
}
ul.service-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0;
    margin: 1rem;
    gap: 1rem;
}
ul.card-list li {
    border: 1px solid #ccaa77;
    background-color: #c0c0c0;
    box-shadow: 1px 3px 5px #00000033;
    border-radius: 1rem;
    max-width: 30vw;
}
ul.card-list li:hover {
    background-color: #e0e0e0;
}

ul.nice-list, ul.errorlist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #ccaa77;
    background-color: #c0c0c0;
    box-shadow: 1px 3px 5px #00000033;
}
ul.nice-list li, ul.errorlist li {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #ccaa77;
}
a {    
    color: #cb5800;
    text-decoration: none;
}
a:hover {
    color: #ed6700;
}
.info {
    padding: 0 1rem;
    margin: 1rem 0;
}
.tag {
    margin: 0 0.1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccaa77;
    background-color: #d8d8d8;
}
table.book-instances {
    width: 100%;
}
table.book-instances td, th {
    padding: 0.25rem 0.5rem;
}
.center {
    text-align: center;
}
table tr.data-row {
    background-color: #d8d8d8;
}
table tr.data-row:hover {
    background-color: #dddddd;
}
div.pager {
    margin: 0.5rem 1rem;
}
div.pager a {
    border: 1px solid #ccaa77;
    background-color: #d8d8d8;
    border-radius: 0.25rem;
    padding: 0.25rem;
}
div.pager a:hover {
    background-color: #dddddd;
}
div.pager form {
    display: inline-block;
}
img.service-image {
    margin: 1rem 1rem 0;
    border: 2px solid #999999;
    border-radius: 1rem;
    max-width: calc(100% - 2rem);
}
ul.errorlist {
    background-color: #e0c0c0;
}
ul li.spacer {
    flex-grow: 1
}